<div class="main">
  <div class="centering">
    <h1>War & Peace</h1>
    <p>～日本中を旅して最高の仲間を見つけよう～</p>
    <%= link_to '新規登録', new_user_path, class: "btn btn-default"%>
    <%= link_to 'ログイン', users_loginform_path, class: "btn btn-default"%>
  </div>
</div>
