/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Bootstrap Sass
@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通レイアウト ================================ */
body {
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top: 50px;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.centering {
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.centering  h1, h2, h3, p{
  text-align: center;
}

/* users/new ================================ */
.user-form-box{
  max-width: 480px;
  min-width: 240px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 50px auto 15px;
  padding: 10px 10px 0;
}

.user-form-box h3{
  font-size: 20px;
}

.btn-block {
  width: 160px;
  margin: 30px auto;
}

.btn-block2{
  display: block;
  width: 100%;
}

.btn-change-form {
  max-width: 480px;
  min-width: 240px;
  margin: 0 auto;
  text-align: center;
}

/* users/mypage/zukan ================================ */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-id{
  width: 30%;
  display: inline-block;
  text-align: center;
  color: 	#000000;
}

.post-name{
  width: 30%;
  display: inline-block;
  text-align: center;
  color: 	#000000;
}

.post-type{
  width: 30%;
  display: inline-block;
  text-align: center;
  color: 	#000000;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 80%;
  padding-left: 25px;
  padding-top: 15px;
}

.monster-ball-icon {
  float: left;
  width: 10%;
}

.monster-ball-icon img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

/* users/mypage/zukan ================================ */
.monster-detail-right{
  float: left;
  width: 80%;
  color: #000000;
}

.level-name{
  width: 80%
}

.monster-detail-level{
  float: left;
  display: inline-block;
  padding-left: 10%;
}

.monster-detail-name{
  float: left;
  display: inline-block;
  padding-left: 2%;
}

.monster-detail-hp{
  display: inline-block;
  width: 70%;
}

.monster-detail-hp p{
  margin-top: -10px;
}

.post-left-for-monster {
  float: left;
  width: 10%;
}

.post-left-for-monster img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-top: 20px;
}

.monster-ball-icon-for-monster {
  float: left;
  width: 10%;
}

.monster-ball-icon-for-monster img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-top: 20px;
}


/* users/mypage/rucksack ================================ */
.monster-ball-icon-for-ruck {
  float: left;
  width: 10%;
}

.monster-ball-icon-for-ruck img {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-top: 15px;
}

.ruck-left {
  float: left;
  width: 40%;
  margin-top: 18px;
  margin-left: 10%;
}

.ruck-right {
  float: left;
  width: 40%;
  text-align: center;
}


/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background:	#000080;
  text-align: center;
  position: absolute;
  top: 50px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
